@use "../../assets/sass/variables" as *;

.tracker {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin: 1%;
    background-color: $color-lightblue;
    color: $color-blue;
    border-radius: 20px;
    transition: 1s;
    text-align: center;

    &:hover {
        box-shadow: 0px 0px 30px 2px $color-lightblue;
        transition: 0.3s;
    }

    &__name {
        font-weight: bold;
    }

    &__role {
        font-size: 0.9rem;
    }

    &__delete {
        border-radius: 50%;
        border: none;
        padding: 0;
        color: $color-darkblue;
        background: none;
        cursor: pointer;
        align-self: flex-end;
        justify-self: flex-start;
        margin-right: 10%;
        display: inline;
    }
}

@media (min-width: 576px){
    .tracker {
        height: 40vh;
    }
}