@use "../../assets/sass/variables" as *;

.counter {
    display: grid;
    grid-template-columns: 60px 20px 60px;
    grid-template-rows: 30px 60px;
    gap: 10px 20px;
    grid-template-areas: 
    "title title title"
    "decrement count increment";
    

    &__title {
        grid-area: title;
        width: 100%;
        text-align: center;
    }

    &__button {
        border-radius: 50%;
        border: none;
        font-size: 1.2rem;
        padding: 0;
        background-color: $color-darkgrey;
        color: $color-yellow;

        &--decrement {
            grid-area: decrement;
        }

        &--increment {
            grid-area: increment;
        }
    }

    &__count {
        text-align: center;
        gird-area: count;
        font-size: 1.2rem;
        place-self: center;
    }
}